input {
  background-color: #f3f3f3;
  text-align: start;
  height: 50px;
  border-style: double;
  font-size: larger;
  font-weight: 600;
  color: black;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

button {
  border-style: none;
  background-color: rgb(0, 255, 242);
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.nav-style {
  text-align: center;
  color: #f06c4e;
}

.api-card {
  height: 500px;
  width: 500px;
  background-color: rgb(0, 255, 242);
}
.api-card img {
  object-fit: cover;
  height: 80%;
}
.api-card-body {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.Two-Button {
  float: left;
  width: 40%;
  height: 40%;
  margin: 5px 5%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  background-color: rgb(0, 255, 242);
}
.Tutorial-button {
  display: inline;
}
#white {
  color: rgb(6, 129, 33);
}
.IngredientColor {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 242);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul li {
  padding: 10px 0;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.bg-off-white {
  background-color: whitesmoke;
}
.margin {
  margin-left: 200px;
  text-align: center;
}
